h1 {
  font-weight: 900;
  font-size: 3rem;
}

.code {
  font-family: "IBM Plex Mono", monospace;
  color: rgb(43, 216, 158);
  background: #000000;
  font-size: 1rem;

  box-sizing: border-box;
  padding: 0.3rem;
}
