// RESET

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: auto;
  padding: 0;

  width: 90vw;
  height: 100vh;

  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media all and (min-width: 480px) {
  body {
    width: 70vw;
  }
}

@media all and (min-width: 658px) {
  body {
    width: 65vw;
  }
}

@media all and (min-width: 824px) {
  body {
    width: 55vw;
  }
}

@media all and (min-width: 1024px) {
  body {
    width: 40vw;
  }
}

@media all and (min-width: 1200px) {
  body {
    width: 35vw;
  }
}
